nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
}

.brand-logo {
  width: 6vh;
  margin: 0;
  padding: 0;
}
.fa-chevron-double-down {
  position: relative;
  top: 1.1em;
  right: 4em;
  color: red;
}

.fa-chevron-double-down:hover {
  transform: scale(1.3);
}

nav .logo {
  display: inline-block;
  margin: 1.5em;
  font-size: 2em;
  margin-top: 0.7em;
  align-items: center;
}

nav .aside {
  margin: 1.5em;
  margin-top: 1.7em;
}

.home-button {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 83vh;
  right: 4vw;
  transform: scale(2);
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 500px;
  background-color: #d74d4d;
}

.home-button:hover {
  transform: scale(2.3);
}

@media only screen and (max-width: 700px) {
  nav {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav .logo {
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
  }

  nav .aside {
    font-size: 2vh;
    margin-top: 0;
  }
}
