article {
  margin-top: 2em;
  border: solid 4px #545149;
  padding: 10px;
}

article:hover {
  box-shadow: 10px 10px 10px #4056a1;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  margin: 0.8em 0 0 0;
}

.profile {
  display: flex;
  align-items: center;
}

.avatars {
  width: 50%;
}
article:hover #avatars {
  transform: scale(1.05);
}

#sender-name {
  margin-left: 0.5em;
}

#tweeter-account {
  display: none;
}

article:hover #tweeter-account {
  display: block;
  color: #9f9fba;
  font-weight: 450;
}

.message-received {
  font-size: 0.6em;
  margin-left: 1em;
  font-weight: 500;
}

.tweet-text {
  margin-top: 0.5em;
  padding-left: 0.7em;
  font-weight: 500;
  min-height: 1em;
  line-height: 1.5em;
}

.more-info {
  size: 50%;
  display: flex;
  justify-content: space-between;
}

#created-at {
  padding-left: 0.7em;
}

article:hover #sender-name,
article:hover #tweeter-account,
article:hover .tweet-text,
article:hover #created-at {
  font-weight: 600;
}

.fa-xs {
  color: #4056a1;
  margin: 0 0.5em;
}

.fa-xs:hover {
  transform: scale(1.3);
}
